<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="cion bars"></i>
      <div class="menu">
        <% if (user) { %>
          <a class="item" href="/posts?author=<%= user._id %>">个人主页</a>
          <div class="divider"></div>
          <a href="posts/create" class="item">发表</a>
          <a href="signout" class="item">登出</a>
        <% } else { %>
          <a href="login" class="item">登录</a>
          <a href="signup" class="item">注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>