<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <nav>
      <span><a href="/" title="主页">home</a></span>
      <span><a href="/login" title="登录">login</a></span>
      <span><a href="/reg" title="注册">register</a></span>
    </nav>
    <article>
